---
- name: "{{ zone.name }} - Generate zone from template"
  template:
    src: "{{ nsd_zones_inputdir }}/{{ zone.name }}.j2"
    dest: "{{ nsd_zones_dir }}/master/{{ zone.name }}.zone"
    owner: root
    group: "{{ nsd_group }}"
  notify: Restart nsd
